/* Color palette
# - light teal
#
#
#
*/


html {

    box-sizing: border-box;
}

*,
*:before,
*: after{
    box-sizing: inherit;
}

body {
  background-color: grey;
  color: 211931;
  font-family: 'Charmonman', sans-serif;
  font-size: 30px;
  line-height: 2.5;
}
.wrapper {
  display: block;
  background: lightpink;
}
h1 {text-align: center;
text-decoration: none;
color: grey
}
h2 {text-align: center;
  color: green

}
h3 {

}
.footer {
.wrapper {
  width: 900px;
  margin: 0;
}
